<div>
    <h2>{{ taskList?.title }}</h2>
    <mat-form-field>
        <mat-label>Filter</mat-label>
        <input [(ngModel)]="searchInTaskList" matInput placeholder="Ex. Ideas">
    </mat-form-field>
</div>
<app-tasks-table (forwardUpdatedTask)="handleTaskUpdated($event)" (taskDeleted)="onTaskDeleted($event)"
                 [searchText]="searchInTaskList"
                 [tasks]="tasksOfList"/>
<!--Here comes new Task dialog-->
<app-task-create (taskAdded)="onTaskAdded($event)" [taskListId]="taskList?.id"/>
