<mat-drawer-container autosize class="tasks-drawer">
  <mat-drawer #drawer class="tasks-drawer__sidenav" mode="over" position="end">
    <h2>Auto-resizing sidenav</h2>
    <!--Move this form to create-task component-->
    <form [formGroup]="taskForm">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Task Name" required>
        <mat-error *ngIf="taskForm.get('name')?.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea formControlName="description" matInput placeholder="Give descriptive information about the task"
                  required
        ></textarea>
        <mat-error *ngIf="taskForm.get('description')?.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Priority</mat-label>
        <mat-select formControlName="priority" required>
          <mat-option *ngFor="let priority of taskPriority" [value]="priority">
            {{priority}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option *ngFor="let status of taskStatus" [value]="status">
            {{status}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button (click)="submitNewTask()" [disabled]="!taskForm.valid" mat-raised-button>Submit</button>
    </form>
  </mat-drawer>

  <mat-drawer-content>
    <button (click)="drawer.toggle()" mat-button type="button">
      Add
    </button>

    <!--    Make a list of taskLists, into tasks, under taskList title, have 3 tabs: active, draft, done -->
    <!--  https://trello.com/c/nrJ7MbHt  -->
    <table [dataSource]="dataSource" class="mat-elevation-z8 demo-table" mat-table>
      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th *matHeaderCellDef mat-header-cell>No.</th>
        <td *matCellDef="let element" mat-cell>{{element.position}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef mat-header-cell>Name</th>
        <td *matCellDef="let element" mat-cell>{{element.name}}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="weight">
        <th *matHeaderCellDef mat-header-cell>Weight</th>
        <td *matCellDef="let element" mat-cell>{{element.weight}}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="symbol">
        <th *matHeaderCellDef mat-header-cell>Symbol</th>
        <td *matCellDef="let element" mat-cell>{{element.symbol}}</td>
      </ng-container>

      <tr *matHeaderRowDef="displayedColumns" mat-header-row></tr>
      <tr
        (click)="clickedRows.add(row)"
        *matRowDef="let row; columns: displayedColumns;"
        [class.demo-row-is-clicked]="clickedRows.has(row)"
        mat-row
      ></tr>
    </table>
  </mat-drawer-content>
</mat-drawer-container>
