<mat-card class="p-4">
    <mat-card-header>
        <mat-card-title><h1>Projects</h1></mat-card-title>
        <a ariaCurrentWhenActive="page" color="primary" mat-raised-button routerLink="create"
           routerLinkActive="active">ADD NEW
        </a>
    </mat-card-header>
    <mat-card-content class="project-card-wrapper">
        <mat-card *ngFor="let project of projectList" class="mat-elevation-z24">
            <mat-card-header>
                <mat-card-title>{{ project.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem debitis deserunt
                    dolor...</p>
                <div class="project-card-users">
                    <h3 class="mb-0" matCardSubtitle>Collaborators</h3>
                    <div class="d-flex">
                        <img alt="Photo of a Shiba Inu" class="project-card-users-avatar" matTooltip="John Doe"
                             matTooltipPosition="above"
                             src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                        />
                        <img alt="Photo of a Shiba Inu" class="project-card-users-avatar" matTooltip="Jane Doe"
                             matTooltipPosition="above"
                             src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                        />
                        <img alt="Photo of a Shiba Inu" class="project-card-users-avatar"
                             matTooltip="Max Mustermann"
                             matTooltipPosition="above"
                             src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                        />
                        <img alt="Photo of a Shiba Inu" class="project-card-users-avatar"
                             matTooltip="Felix Hermann"
                             matTooltipPosition="above"
                             src="https://material.angular.io/assets/img/examples/shiba1.jpg"
                        />
                        <button (click)="navigateToProject(project.id)" class="me-auto" mat-button>
                            More >
                        </button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>