<mat-drawer-container autosize id="main-container">
    <mat-drawer #drawer mode="over">
        <div id="base-sidenav">
            <h1>Fertig Work</h1>
            <app-header-menu-items/>
        </div>
    </mat-drawer>
    <div class="main-content-wrapper h-100">
        <mat-toolbar color="accent">
            <mat-toolbar-row>
                <button
                        (click)="drawer.toggle()"
                        *ngIf="drawer.mode === 'over'"
                        mat-icon-button>
                    <mat-icon *ngIf="!drawer.opened">menu</mat-icon>
                    <mat-icon *ngIf="drawer.opened">close</mat-icon>
                </button>
                <div>
                    {{ title }}
                </div>
                <div class="vertical-spacer"></div>
                <button aria-label="Example icon-button with heart icon" class="example-icon favorite-icon"
                        mat-icon-button>
                    <mat-icon>favorite</mat-icon>
                </button>
                <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with share icon" class="example-icon"
                        mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Task</button>
                    <button [routerLink]="'projects/create/'" mat-menu-item>Project</button>
                </mat-menu>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Application's content -->
        <ng-content/>
    </div>
</mat-drawer-container>
