#main-container {
    height: 100%;
}

#base-sidenav {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: 100%;
    max-width: 320px;
    padding: 2rem;
}

#base-sidenav > h1 {
    text-align: center;
}

.main-content {
    height: 100%;
}

#base-sidenav__navbar {
    height: 100%;
}

.base-sidenav__navbar__menu {
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.base-sidenav__menu-item {
    display: flex;
    align-items: center;
}

.base-sidenav__menu-item__link {
    text-decoration: none;
}

.base-sidenav__menu-icon {
    margin-right: 1rem;
}

.base-sidenav__menu__project-divider {
    margin: 1rem 0;
}

.base-sidenav__menu__user-divider {
    margin-top: auto;
}

.example-spacer {
    flex: 1 1 auto;
}

.header__site-name {
    color: #212121;
    text-decoration: none;
}

.header__nav {
    margin-left: 2rem;
    list-style-type: none;
}

.header__nav > a {
    color: #212121;
    text-decoration: none;
    margin: 0 1rem;
}

.header__nav > a:hover {
    cursor: pointer;
}
