.project-cards-wrapper {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
}

.project-card {
    flex: 1 1 50%;
    background: #F90;
    border-top: solid 1px #000;
}

.project-card:nth-child(odd) {
    background: #F00;
    flex: 0 0 50%;
}