<div class="d-flex align-items-center">
    <form class="quick-create-task-form">
        <mat-form-field appearance="outline" class="quick-create-task-input">
            <mat-label>Task Name</mat-label>
            <input [(ngModel)]="newTaskNameInput" matInput name="new-task-name">
            <button (click)="addTaskToList()" mat-icon-button matIconSuffix>
                <mat-icon>add</mat-icon>
            </button>
        </mat-form-field>
    </form>
    <p>or add in advanced mode</p>
    <button mat-button>Create new Task</button>
</div>
