<nav id="base-sidenav__navbar">
    <mat-nav-list class="base-sidenav__navbar__menu">
        <ng-container *ngFor="let item of menuItemsPre">
            <a [routerLink]="item?.route"
               class="base-sidenav__menu-item__link"
               routerLinkActive="active">
                <mat-list-item>
                    <div class="base-sidenav__menu-item">
                        <mat-icon class="base-sidenav__menu-icon">{{item.icon}}</mat-icon>
                        {{ item.text }}
                    </div>
                </mat-list-item>
            </a>
        </ng-container>

        <mat-divider class="base-sidenav__menu__project-divider"/>

        <ng-container *ngFor="let item of menuItemsProjects">
            <mat-list-item (click)="goToProjectTasks(item?.projectId)">
                <div class="base-sidenav__menu-item">
                    <mat-icon class="base-sidenav__menu-icon">{{item.icon}}</mat-icon>
                    {{ item.text }}
                </div>
            </mat-list-item>
        </ng-container>

        <mat-divider class="base-sidenav__menu__user-divider"/>

        <ng-container *ngFor="let item of menuItemsAfter">
            <a [routerLink]="item?.route"
               class="base-sidenav__menu-item__link"
               routerLinkActive="active">
                <mat-list-item>
                    <div class="base-sidenav__menu-item">
                        <mat-icon class="base-sidenav__menu-icon">{{item.icon}}</mat-icon>
                        {{ item.text }}
                    </div>
                </mat-list-item>
            </a>
        </ng-container>
    </mat-nav-list>
</nav>
