<p>login works!</p>

<mat-card class="login-card-wrapper">
  <mat-card-title>Login</mat-card-title>
  <form (ngSubmit)="login()" [formGroup]="credentials">
    <mat-card-content>
      <mat-form-field class="login-field-wrapper">
        <mat-label>Username</mat-label>
        <input name="username" type="text" matInput formControlName="username">
        <mat-error *ngIf="credentials.get('username')?.invalid">
          {{getErrorMessage("username")}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="login-field-wrapper">
        <mat-label>Password</mat-label>
        <input name="password" type="password" matInput formControlName="password">
        <mat-error *ngIf="credentials.get('password')?.invalid">{{getErrorMessage("password")}}</mat-error>
        <mat-hint align="end">{{credentials.get('password')?.value?.length}}/10</mat-hint>
      </mat-form-field>
      <app-fw-alert *ngIf="errorService.errorMessage$ | async as errorMessage" class="error-message" alertType="info"
                    [alertMessage]="errorMessage"
      />
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="submit">Login</button>
    </mat-card-actions>
  </form>
</mat-card>
