<h1>Create New Project</h1>
<mat-stepper #stepper linear="true">
    <mat-step [stepControl]="firstFormGroup">
        <mat-card>
            <ng-template matStepLabel>Details</ng-template>
            <form [formGroup]="firstFormGroup" class="d-flex w-100 flex-column m-2">
                <mat-form-field>
                    <mat-label>Title</mat-label>
                    <input formControlName="title" matInput required>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Description</mat-label>
                    <textarea formControlName="description" matInput></textarea>
                </mat-form-field>
                <div class="d-flex w-100 justify-content-around">
                    <mat-form-field>
                        <mat-label>Chose Project Start</mat-label>
                        <input [matDatepicker]="picker" formControlName="startOn" matInput required>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-error>This field is required.</mat-error>
                        <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Select Project Color</mat-label>
                        <input formControlName="color" matInput type="color">
                    </mat-form-field>
                </div>
            </form>
            <mat-card-actions class="d-flex justify-content-end">
                <button [disabled]="!firstFormGroup.valid"
                        color="primary"
                        mat-button
                        mat-raised-button matStepperNext>
                    Next
                </button>
            </mat-card-actions>
        </mat-card>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Project Members">
        <ng-template matStepLabel>Collaborators</ng-template>
        <form [formGroup]="secondFormGroup">
            <mat-form-field class="w-100">
                <mat-label>Search for users to add in project</mat-label>
                <input #collaboratorSearch
                       [matAutocomplete]="auto"
                       formControlName="secondCtrl"
                       matInput
                       type="text"
                >
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="showFoundUsers" autoActiveFirstOption>
                    <mat-option (onSelectionChange)="selectFoundUser($event.source.value)"
                                *ngFor="let user of foundUsers"
                                [value]="user"
                    >
                        {{ user.username }} - <i>{{user.email}}</i>
                    </mat-option>
                </mat-autocomplete>
            </mat-form-field>
        </form>
        <table [dataSource]="selectedUsers" class="mat-elevation-z2" mat-table>
            <ng-container matColumnDef="username">
                <th *matHeaderCellDef mat-header-cell>Username</th>
                <td *matCellDef="let element" mat-cell> {{element.username}} </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th *matHeaderCellDef mat-header-cell>Email</th>
                <td *matCellDef="let element" mat-cell> {{element.email}} </td>
            </ng-container>
            <ng-container matColumnDef="remove">
                <th *matHeaderCellDef mat-header-cell>Remove</th>
                <td *matCellDef="let element" mat-cell>
                    <mat-icon (click)="removeSelectedUser(element)">delete</mat-icon>
                </td>
            </ng-container>
            <tr *matNoDataRow class="mat-row">
                <td class="mat-cell text-center" colspan="5">No users added to this project yet.</td>
            </tr>
            <tr *matHeaderRowDef="['username', 'email', 'remove']" mat-header-row></tr>
            <tr *matRowDef="let row; columns: ['username', 'email', 'remove'];" mat-row></tr>
        </table>
        <div class="mt-4">
            <button mat-button matStepperPrevious>Back</button>
            <button color="primary" mat-button mat-raised-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <mat-card>
            <mat-card-title>
                Project Overview
            </mat-card-title>
            <mat-card-content>
                <h2 matCardTitle>{{firstFormGroup.value.title}}</h2>
                <p>{{firstFormGroup.value.description}}</p>
                <p>{{firstFormGroup.value.startOn}}</p>
                <p>{{firstFormGroup.value.color}}</p>
            </mat-card-content>
        </mat-card>
        <div>
            <button mat-button matStepperPrevious>Back</button>
            <button (click)="submitCreateProjectForm()" color="primary" mat-button mat-raised-button>Create
                Project
            </button>
        </div>
    </mat-step>
</mat-stepper>